.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
}

.main__videos {
    flex-grow: 1;
    background-color: rgb(17, 38, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    background-color: #465c72;
}

.main__right {
    background-color: #4b264b;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages {
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting {
    color: #EB534B;
}

.unmute,
.stop {
    color: #CC3B33;
}

.container {
    margin: 0;
    padding: 0;
}

. #video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
}


/* MQ */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //CSS
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    //CSS
}

a {
    color: white;
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .main {
        height: 100vh;
        display: flex;
    }
    .main__left {
        display: flex;
        flex-direction: column;
    }
    .main__right {
        display: flex;
    }
    .main__videos {
        flex-grow: 1;
        background-color: rgb(35, 64, 153);
        display: flex;
        justify-content: left;
        align-items: baseline;
        padding: 5px;
    }
    .video {
        height: 250px;
        width: 300px;
        object-fit: cover;
        padding: 2px;
    }
}